# aliases
alias Projects="cd ~/Projects"
alias Downloads="cd ~/Downloads"
alias Desktop="cd ~/Desktop"
alias untar="tar -zxvf"
alias pingg="ping 8.8.8.8"
alias openports="lsof -i"
alias myip="curl http://ipecho.net/plain"
alias weather="curl wttr.in"
alias c="clear"
